:root {
    --card-height: 118px;
    --card-width: 58px;
    --card-width-rotate: 116px;
    --card-height-rotate: 58px;
    --black: #00030e;
    --blue: #2B8ACA;
    --orange: #F8B133;
    --red: #D23136;
}
.jq-toast-single h2 {
    text-transform: capitalize;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--black);
}
body {
    display: flex;
    min-height: 100vh;
    background-image: url("../imgs/cards/bk.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#fiveandthrees {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#fiveandthrees #board, #fiveandthrees #player {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#fiveandthrees #deck {
    width: 1180px;
    min-height: 859px;
    background-image: url("../imgs/dominoes/table.png");
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#fiveandthrees #deck #controls {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 10px;
}
#fiveandthrees button {
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background: none;
}
#fiveandthrees #deck #controls button {
    display: block;
    background-position: top 3px center;
    background-repeat: no-repeat;
    width: 228px;
    height: 84px;
}
#fiveandthrees #deck #controls .btn-new-game {
    background-image: url("../imgs/cards/button-new.png");
}
#fiveandthrees #deck #controls .btn-knocking {
    background-image: url("../imgs/cards/button-knock.png");
}
#fiveandthrees #deck #controls .btn-submit{
    background-image: url("../imgs/cards/button-setup.png");
}

#fiveandthrees #scoreboard {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: block;
    width: 327px;
    z-index: 5;
    background-image: url("../imgs/cards/scoreboard.png");
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 49px;
}
#fiveandthrees #scoreboard-scores {
    width: 100%;
    background-color: #292444;
    background-image: url("../imgs/cards/scoreboard-border.png");
    background-repeat: repeat-y;
}
#fiveandthrees #scoreboard-footer {
    position: relative;
    margin-top: -5px;
    height: 19px;
    width: 100%;
    background-image: url("../imgs/cards/scoreboard-bottom.png");
    background-position: top;
    background-repeat: no-repeat;
}
#fiveandthrees #scoreboard table {
    margin-left: 11px;
    border-collapse: collapse;
    border: none;
    width: calc(100% - 24px);
}
#fiveandthrees #scoreboard table tbody {
    width: 100%;
}
#fiveandthrees #scoreboard th, #fiveandthrees #scoreboard td {
    padding: 0 0 0 5px;
    margin: 0;
    border: none;
}
#fiveandthrees #scoreboard .player-img {
    text-align: center;
    width: 41px;
    padding: 0;
}
#fiveandthrees #scoreboard .player-img img {
    margin: 0;
    width: 100%;
}
#fiveandthrees #scoreboard .player-name::first-letter {
    text-transform: uppercase;
}

#fiveandthrees #scoreboard table tbody tr:nth-child(odd) {
    background-color: #292444;
    padding: 0;
}
#fiveandthrees #scoreboard table tbody tr:nth-child(even) {
    background-color: #313654;
    padding: 0;
}

#fiveandthrees #player {
    flex-direction: column;
    z-index: 10;
    position: fixed;
    bottom: 10px;
}
#fiveandthrees #player #hand {
    flex: 1 1 auto;
    display: flex;
    column-gap: 0px;
    row-gap: 0px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10px;
}
#fiveandthrees #player #hand .card {
    position: relative;
    padding: 3px;
}

#fiveandthrees #game table {
    width: 100%;
    color: #fff;
}

#fiveandthrees .card, #fiveandthrees .placeholder {
    display: inline-flex;
    background: none;
    border: none;
    width: var(--card-width);
    height: var(--card-height);
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}

#fiveandthrees .row {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
}
#fiveandthrees .hide {
    display: none;
}
#fiveandthrees .col-full {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

#fiveandthrees .card-highlight, #fiveandthrees .card-warn, #fiveandthrees .button-highlight {
    background-color: var(--orange);

    clip-path: polygon(
        0px 3px, 3px 3px, 3px 0px,
        calc(100% - 3px) 0px, calc(100% - 3px) 3px,
        100% 3px, 100% calc(100% - 3px),
        calc(100% - 3px) calc(100% - 3px),
        calc(100% - 3px) 100%, 3px 100%,
        3px calc(100% - 3px), 0px calc(100% - 3px)
    );
    transition: all 0.05s linear;
}
#fiveandthrees .card-warn {
    background-color: var(--red);
}
#fiveandthrees .button-highlight {
    background-color: var(--blue);
}

#fiveandthrees #deck img, #fiveandthrees #hand img {
    width: var(--card-width);
    margin: 0;
}

#fiveandthrees .text-center {
    text-align: center;
}
#fiveandthrees .text-left {
    text-align: left;
}

#fiveandthrees .player-turn {
    background-color: #2B8ACA;
}

#fiveandthrees td.last-card-col {
    width: 50px;
    text-align: center;
}

#fiveandthrees .last-card, #fiveandthrees .winner, #fiveandthrees .knocking {
    display: none;
    cursor: pointer;
}

#fiveandthrees #game-info {
    display: none;
    background-color: #fff;
    border: 0;
    border-top: 2px solid #000;
    margin-top: 10px;
    width: calc(100% - 10px);
    height: 300px;
    overflow-y: scroll;
}
#fiveandthrees #game-info p {
    margin: 0;
    padding: 0;
}

#fiveandthrees .no-players {
    display: flex;
    width: calc(100% - 10px);
}
#fiveandthrees .no-players span {
    color: #fff;
    padding-top: 15px;
    flex: auto;
}

#fiveandthrees #playarea {
    display: inline-block;
    width: auto;
}
#fiveandthrees .dominoes-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#fiveandthrees .dominoes-left,
#fiveandthrees .dominoes-left .dominoes,
#fiveandthrees .dominoes-right,
#fiveandthrees .dominoes-right .dominoes {
    display: flex;
    flex-wrap: wrap;
}
#fiveandthrees .dominoes-left .dominoes {
    flex-direction: row-reverse;
}
#fiveandthrees .dominoes .rotate-left {
    width: var(--card-width-rotate);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#fiveandthrees .dominoes .rotate-left img {
    margin-left: calc(var(--card-width) / 2) !important;
}
#fiveandthrees .dominoes .rotate-right {
    width: var(--card-width-rotate);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#fiveandthrees .dominoes .rotate-right img {
    margin-left: calc(var(--card-width) / 2) !important;
}

#fiveandthrees #dominoes-1.dominoes-row {
    align-items: flex-start;
    justify-content: flex-start;
}
#fiveandthrees #dominoes-1 .dominoes {
    flex-direction: column;
}
#fiveandthrees #dominoes-1 .dominoes-left,
#fiveandthrees #dominoes-1 .dominoes-right {
    flex: 1;
    flex-direction: column;
}
#fiveandthrees #dominoes-1 .dominoes-right {
    justify-content: flex-end;
    align-items: flex-end;
}
#fiveandthrees #dominoes-1 .dominoes-right .dominoes {
    justify-content: flex-end;
    align-items: flex-end;
}
#fiveandthrees #dominoes-1 .dominoes .card {
    width: var(--card-width);
}
#fiveandthrees #dominoes-1 .dominoes-left .rotate-left {
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
#fiveandthrees #dominoes-1 .dominoes-right .rotate-left {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
#fiveandthrees #dominoes-1 .dominoes-left .rotate-right {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
#fiveandthrees #dominoes-1 .dominoes-right .rotate-right {
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
#fiveandthrees #dominoes-1 .dominoes img {
    margin-left: 0 !important;
}

#fiveandthrees #dominoes-2.dominoes-row {
    justify-content: flex-start !important;
}
#fiveandthrees #dominoes-2.dominoes-row .dominoes {
    justify-content: flex-end !important;
    flex-direction: row !important;
}
#fiveandthrees #dominoes-2.dominoes-row .dominoes-right .dominoes {
    flex-direction: row-reverse !important;
}
#fiveandthrees #dominoes-2 .dominoes-left {
    /*flex: 1;*/
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
#fiveandthrees #dominoes-2 .dominoes-right {
    flex: 1;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}
#fiveandthrees #dominoes-2 .rotate-left {
    width: var(--card-width-rotate);
    -webkit-transform: rotate(270deg) !important;
    -moz-transform: rotate(270deg) !important;
    -ms-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important;
}
#fiveandthrees #dominoes-2 .rotate-right {
    width: var(--card-width-rotate);
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

#fiveandthrees form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#fiveandthrees .form-input {
    display: inline-block;
    width: 60px;
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid #000;
    height: 35px;
}

#fiveandthrees .modal .form-input, #fiveandthrees .modal .btn-new-game {
    width: 100%;
}
#fiveandthrees .modal .row.break {
    margin-bottom: 20px;
}
#fiveandthrees .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: #000;
}
#fiveandthrees .modal.fade {
    transition: opacity .15s linear;
}
#fiveandthrees .modal.show .modal-dialog {
    transform: none;
}
#fiveandthrees .modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
}
#fiveandthrees .modal-dialog {
    position: relative;
    max-width: 500px;
    margin: 1.75rem auto;
    pointer-events: none;
}
#fiveandthrees .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
#fiveandthrees .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
#fiveandthrees .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
#fiveandthrees .modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}