:root {
    --move-size: 36px;
}
.jq-toast-single h2 {
    text-transform: capitalize;
}
html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000 !important;
    position: relative;
}

#dead-world {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000 !important;
    flex-direction: column;
}
.dead-world-body {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 1178px;
    height: 684px;
    background-color: rgba(118, 146, 167, 1);
    background-repeat: no-repeat;
}
.dead-world-body .move-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0;
    row-gap: 0;
    gap: 0;
    width: 100%;
    height: 100%;
}
.dead-world-body .cell {
    border: 1px solid rgba(0, 0, 0, 1);
}
.dead-world-body .move, .dead-world-body .action, .dead-world-body .blocked {
    display: block;
    width: var(--move-size);
    height: var(--move-size);
    overflow: hidden;
}
.dead-world-body .move span, .dead-world-body .action span  {
    font-weight: bold;
    background-color: #fff;
    display: none;
}
.dead-world-body .move {
    background-color: rgba(52, 115, 239, 0.7);
    border-color: rgba(52, 115, 239, 1);
}
.dead-world-body .action {
    background-color: rgba(0, 229, 255, 0.5);
    border-color: rgba(0, 229, 255, 1);
}
.dead-world-body .blocked {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
}
.dead-world-body .search-barrel,
.dead-world-body .search-bin,
.dead-world-body .search-box,
.dead-world-body .search-bus,
.dead-world-body .search-car,
.dead-world-body .search-crate,
.dead-world-body .search-fuel,
.dead-world-body .search-lorry,
.dead-world-body .search-rubbish,
.dead-world-body .search-truck,
.dead-world-body .search-vending-machine,
.dead-world-body .collect-water {
    background-color: rgba(249, 129, 37, 0.5);
    border-color: rgba(249, 129, 37, 1);
}
.dead-world-body .climb-bus,
.dead-world-body .climb-car,
.dead-world-body .climb-lorry,
.dead-world-body .climb-structure,
.dead-world-body .climb-truck,
.dead-world-body .climb-wall,
.dead-world-body .sit-bench {
    background-color: rgba(247, 247, 37, 0.5);
    border-color: rgba(247, 247, 37, 1);
}
.dead-world-body .hide-bin,
.dead-world-body .hide-bus,
.dead-world-body .hide-car,
.dead-world-body .hide-lorry,
.dead-world-body .hide-truck {
    background-color: rgba(171, 36, 244, 0.5);
    border-color: rgba(171, 36, 244, 1);
}
.dead-world-body .enter-window,
.dead-world-body .enter-door {
    background-color: rgba(214, 36, 242, 0.5);
    border-color: rgba(214, 36, 242, 1);
}
.dead-world-body .enter-door.barricaded,
.dead-world-body .enter-window.barricaded {
    background-color: rgba(252, 47, 47, 0.5);
    border-color: rgba(252, 47, 47, 1);
}
.dead-world-body .player-position {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 1);
}
.dead-world-body .player-move {
    background-color: rgba(71, 255, 74, 0.5) !important;
    border-color: rgba(71, 255, 74, 1) !important;
}

/* LOCATIONS */
.dead-world-location {
    display: none;
    background-color: #000 !important;
    border: 0;
}
#dead-world-location-1 {
    display: flex !important;
}
#dead-world-location-1 .dead-world-body {
    background-image: url("/kytschi/dead_world/locations/location1.png");
}
#dead-world-location-2 {
    /*display: flex !important;*/
}
#dead-world-location-2 .dead-world-body {
    background-image: url("/kytschi/dead_world/locations/location2.png");
}
#dead-world-location-3 {
    /*display: flex !important;*/
}
#dead-world-location-3 .dead-world-body {
    background-image: url("/kytschi/dead_world/locations/location3.png");
}
#dead-world-location-4 {
    /*display: flex !important;*/
}
#dead-world-location-4 .dead-world-body {
    background-image: url("/kytschi/dead_world/locations/location4.png");
}

.player {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(111, 209, 104, 1) !important;
}
.player.selected, .move.selected {
    background-color: rgba(111, 209, 104, 0.5) !important;
    border-color: rgba(111, 209, 104, 1) !important;
    pointer-events: auto;
    cursor: pointer;
}
.player.selected *, .move.selected * {
    pointer-events: none;
}

.info-box {
    position: absolute;
    margin: 20px;
    background-color: rgba(37, 44, 52, 1);
    border: 1px solid rgba(69, 74, 80, 1);
    color: rgba(144, 141, 136, 1);
}

.info-box span {
    display: block;
    padding: 10px;
}

.info-box-title {
    border-bottom: 1px solid rgba(69, 74, 80, 1);
}

.info-box-body {
    display: flex;
    flex-direction: column;
}