html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000 !important;
}
#dead-world {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000 !important;
}
.dead-world-body {
    margin: 0 auto;
    width: 1408px;
    height: 768px;
    border: 1px solid rgba(69, 74, 80, 1);
}

/* LOCATIONS */
.dead-world-location {
    display: none;
    background-color: #000 !important;
    border: 0;
}
#dead-world-location-1 {
    display: flex !important;
}
#dead-world-location-1  .dead-world-body {
    background-color: rgba(118, 146, 167, 1);
    background-image: url("/kytschi/dead_world/locations/location1.png");
    background-repeat: no-repeat;
}
#dead-world-location-2  .dead-world-body {
    background-color: rgba(118, 146, 167, 1);
    background-image: url("/kytschi/dead_world/locations/location2.png");
    background-repeat: no-repeat;
}

.info-box {
    position: absolute;
    margin: 20px;
    background-color: rgba(37, 44, 52, 1);
    border: 1px solid rgba(69, 74, 80, 1);
    color: rgba(144, 141, 136, 1);
}

.info-box span {
    display: block;
    padding: 10px;
}

.info-box-title {
    border-bottom: 1px solid rgba(69, 74, 80, 1);
}

.info-box-body {
    display: flex;
    flex-direction: column;
}