html, body {
    background-color: #fff;
    color: #000;
    font-family: "Body", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    height: 100vh;
    width: 100%;
    min-width: 1024px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: auto;
}

nav {
    display: flex;
    gap: 10px;
    height: 40px;
    border-bottom: 1px solid rgb(91,91,91);
    padding: 6px 10px;
    overflow: hidden;
}

nav div {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-width: 200px;
}

nav div.active {
    border-bottom: 1px solid rgb(91,91,91);
}

nav div p {
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
}

nav div p.active {
    border-bottom: 1px solid rgb(91,91,91);
}

nav div p span {
    display: inline-block;
    position: relative;
    padding: 9px 10px;
    height: 20px;
    margin-top: 2px;
    background-color: rgb(249,249,249); 
}

nav div p span.active {
    border-top: 1px solid rgb(91,91,91);
    border-left: 1px solid rgb(91,91,91);
    border-right: 1px solid rgb(91,91,91);
}

nav div button {
    display: none;
    border:0;
    border-left: 1px solid rgb(91,91,91);
    border-right: 1px solid rgb(91,91,91);
    background-color: rgb(249,249,249);
    font-family: "Body", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-align: left;
    padding: 10px 10px;
}