html, body {
    background-color: #fff;
    color: #000;
    font-family: "Body", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    height: 100vh;
    width: 100%;
    min-width: 1024px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: auto;
}

button {
    width: 100%;
    border-radius: 0;
    font-size: 14pt;
    cursor: pointer;
}

input {
    width: 100%;
    border-radius: 0;
    font-size: 14pt;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(91,91,91);
    padding: 6px 10px;
}

.kb-menu-group button {
    font-family: "Body", Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

#window-body-content {
    display: flex;
    width: 100%;
    height: 100%;
}

#categories {
    border-right: 1px solid rgb(91,91,91);
    width: 200px;
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#content-search {
    border-bottom: 1px solid rgb(91,91,91);
    height: 50px;
    display: flex;
}

#content-search input {
    flex: 1;
    border: 0;
}
#content-search button {
    width: 100px;
}

#content-files {
    flex-grow: 1;
    display: flex;
}

#content-files-content {
    flex-grow: 1;
}

#content-properties {
    border-left: 1px solid rgb(91,91,91);
    width: 250px;
}

.header-title {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(91,91,91);
    margin: 0;
    padding: 6px 10px;
    background-color: #F9F9F9;
}

.header-title span {
    flex: 1;
}

.header-title button {
    width: 25px;
}