html, body {
    background-color: #fff;
    color: #000;
    font-family: "Body", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    height: 100vh;
    width: 100%;
    min-width: 1024px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: auto;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(91,91,91);
    padding: 6px 10px;
}

.kb-menu-group button {
    font-family: "Body", Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

#window-body-content {
    display: flex;
    width: 100%;
    height: 100%;
}

#categories {
    border: 1px solid #000;
    width: 200px;
}

#content {
    border: 1px solid #000;
    flex-grow: 1;
}