@font-face {
    font-family: 'Body';
    src: url("../fonts/Inconsolata.ttf") format("truetype");
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Body', monospace;
    font-size: 12pt;
}

#omega-doom .hide {
    display: none;
}

#omega-doom pre, #omega-doom code {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 8pt;
    font-family: 'Body', monospace;
    text-align: left;
    width: 100%;
    height: 100%;
    line-height: 6pt;
    letter-spacing: 1pt;
}

#omega-doom button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14pt;
    line-height: 14pt;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: 0pt;
}
#omega-doom button .button_key {
    color:#ff8700;
    padding: 0px 4px;
}
#omega-doom button.button-selected .button-message {
    color: #009dff !important;
}
#omega-doom button .button_key_end {
    padding-right: 15px;
}
#omega-doom button .button_key_end_small {
    padding-right: 12px;
}

#omega-doom-intro {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#omega-doom-intro pre, #omega-doom-intro #intro-controls {
    display: flex;
    font-family: 'Body', monospace;
    justify-content: center;
}

#omega-doom-intro #intro-controls-buttons {
    display: none;
}

#omega-doom-intro pre code {
    margin-top: 50px;
    width: 800px !important;
    text-align: center;
}

#omega-doom-intro .intro-window {
    display: none;
    width: 100%;
    padding-top: 10px;
}

#omega-doom-game {
    display: block;
    width: 100%;
    height: 100vh;
    display: none;
}

#omega-doom-game .progress {
    display: block;
    width: 100%;
    height: 100vh;
}

#omega-doom-game .game-progress {
    display: flex;
    width: 100%;
    height: 100%;
}

#omega-doom-game .visuals {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    height: 100%;
}

#omega-doom-game .controls {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(300px - 40px);
    height: calc(100% - 42px);
    border: 1px dashed #00ff3c;
}
#omega-doom-game .controls button {
    text-align: left;
    width: 100%;
}

#omega-doom-game .gfx, #omega-doom-game .text {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

#omega-doom-game .gfx {
    height: calc(100vh - 300px);
}

#omega-doom-game .text {
    border-top: 1px dashed #00ff3c;
    height: 300px;
}

#omega-doom-game .gfx .gfx-label {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #00ff3c;
}

#omega-doom-game .gfx .render {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#omega-doom-game .text .character {
    display: block;
    overflow: hidden;
    width: calc(400px - 40px);
    height: calc(100% - 40px);
    padding: 20px 20px;
    border-right: 1px dashed #00ff3c;
}

#omega-doom-game .text .character code {
    height: 300px !important;
    text-align: center;
}

#omega-doom p {
    margin: 0;
}

#omega-doom-game .text .character p {
    display: block;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 0 5px;
}

#omega-doom-game .text .speech {
    display: block;
    overflow: hidden;
    width: calc(100% - 440px);
    height: calc(100% - 20px);
    padding: 20px 20px;
}

#omega-doom-game .text .speech p {
    margin-bottom: 10px;
}

#omega-doom-game .text .speech p span {
    display: none;
    background-color: #fff;
    color: #000;
    padding: 0 5px;
}

#omega-doom-game .text .speech button {
    display: none;
}