:root {
    --black: #000;
    --blue: #009dff;
    --gray: #bab8b8;
    --green: #00ff3c;
    --orange: #ff8700;
    --red: #ff0000;
    --yellow: #ffd900;
    --white: #fff;
}

@font-face {
    font-family: 'Body';
    src: url("../fonts/Inconsolata.ttf") format("truetype");
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--black);
    color: var(--white) !important;
    font-family: 'Body', monospace;
    font-size: 12pt;
}

#omega-doom-game {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: var(--black) !important;
}

#omega-doom img {
    padding: 0;
    margin: 0;
}

#omega-doom-intro, #omega-doom-gameover {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
    border: none !important;
    background-color: var(--black) !important;
    align-items: center;
}
#omega-doom .screen-content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
#omega-doom-intro #intro, #omega-doom-gameover #gameover {
    max-width: 1099px;
    flex-direction: column;
}
#omega-doom-intro #intro img, #omega-doom-gameover #gameover img {
    width: 100%;
}

#omega-doom-gameover .gfx-label {
    text-align: center;
    color: var(--green) !important;
}

#omega-doom-game .progress {
    display: flex;
    width: 100%;
    height: 100vh;
}
#omega-doom-game .game-progress {
    display: none;
    width: 100%;
    height: 100%;
}
#omega-doom-game .overlay {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#omega-doom-game .overlay .location {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#omega-doom-game .overlay .location img {
    min-width: 100%;
    min-height: 100%;
}
#omega-doom-game .navigation {
    display: flex;
    margin: 50px auto 0 auto;
    width: 1024px;
    height: 600px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
#omega-doom-game .navigation .console {
    position: absolute;
    border: 3px solid var(--green);
}
#omega-doom-game .navigation .map {
    width: 100%;
    height: 100%;
}
#omega-doom-game .navigation .map img {
    width: 100%;
}

#omega-doom-game .view-screen {
    position: fixed;
    overflow: hidden;
    text-align: center;
    background-color: var(--black);
}
#omega-doom-game .view-screen img {
    /*width: 100%;*/
}

#omega-doom-game .game-data {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}
#omega-doom-game .ss-liberty .view-screen {
    width: 800px;
    height: 700px;
    top: 220px;
}

#omega-doom-game .character {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 0 30px;
}
#omega-doom-game .character .original {
    display: none;
}
#omega-doom-game .character-data {
    display: flex;
    background-color: var(--black);
    border: 3px solid var(--gray);
    color: var(--gray);
    width: 800px;
}
#omega-doom-game .character.active .character-data {
    border-color: var(--green);
    color: var(--green);
}
#omega-doom-game .character-image {
    display: flex;
    flex-direction: column;
    width: 170px;
    text-align: center;
    align-items: center;
    /*border-right: 3px solid var(--green);*/
}
#omega-doom-game .character-image img {
    display: inline-block;
    width: 120px;
    margin-top: 10px;
}
#omega-doom-game .character-speech {
    display: none;
}
#omega-doom-game .character-speech-output {
    display: flex;
    flex: 1;
}
#omega-doom-game .character-speech-output p {
    display: inline-block;
    padding: 10px;
    margin: 0;
    width: 100%;
}

#omega-doom-game .screen-right {
    justify-content: flex-end;
    margin: 30px 30px 0 0;
}
#omega-doom-game .screen-right .character-image {
    border-right: none;
    /*border-left: 3px solid var(--green);*/
}
#omega-doom-game .screen-right .character-image img {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

#omega-doom-game .controls {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--black);
    border-top: 3px solid var(--green);
}

#omega-doom-game .controls .buttons {
    height: 100%;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
}
#omega-doom-game .controls .info {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    height: 100%;
}
#omega-doom-game .controls .info .character {
    margin: 0;
    border-right: 3px solid var(--green);
    width: 100%;
    height: 100%;
}
#omega-doom-game .controls .info .character-data {
    border: none;
}

#omega-doom button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
    background-color: var(--orange);
    color: var(--black);
}