@font-face {
    font-family: 'Body';
    src: url("../fonts/Inconsolata.ttf") format("truetype");
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Body', monospace;
    font-size: 12pt;
    line-height: 12pt;
}

#omega-doom button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14pt;
    line-height: 14pt;
    cursor: pointer;
}

#omega-doom pre, #omega-doom code {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 8pt;
    line-height: 8pt;
    font-family: 'Body', monospace;
    text-align: left;
    width: 100%;
    height: 100%;
}

#omega-doom button .button_key {
    color:#ff8700 !important;
}

#omega-doom-intro {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*display: none;*/
}

#omega-doom-intro pre, #omega-doom-intro #intro-controls {
    display: flex;
    font-family: 'Body', monospace;
    justify-content: center;
}

#omega-doom-intro #intro-controls-buttons {
    display: none;
}

#omega-doom-intro pre code {
    margin-top: 50px;
    width: 800px !important;
}

#omega-doom-intro .intro-window {
    display: none;
    width: 100%;
    padding-top: 10px;
}

#omega-doom-game {
    display: flex;
    width: 100%;
    height: 100vh;
    display: none;
}
#omega-doom-game-screen {
    display: flex;
    width: 100%;
    height: 100vh;
}

#omega-doom-game #visuals {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

#omega-doom-game #controls {
    display: flex;
    width: 300px;
    height: (100% - 2px);
    border: 1px dashed #00ff3c;
}

#omega-doom-game #gfx, #omega-doom-game #text {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

#omega-doom-game #gfx {
    height: calc(100vh - 300px);
}

#omega-doom-game .progress {
    width: 100%;
}

#omega-doom-game #text {
    border-top: 1px dashed #00ff3c;
    height: 300px;
}

#omega-doom-game #gfx .gfx-label {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #00ff3c;
}

#omega-doom-game #gfx .render {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}