@font-face {
    font-family: 'FreeMono';
    src: url("../fonts/choc.otf") format("opentype");
}

html, body {
    background-color: #101010;
    color: #bababa;
    font-family: "FreeMono", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    height: 100vh;
    width: 100%;
    min-width: 1024px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: auto;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #cb7832;
}

a:hover {
    text-decoration: underline;
}

.no-link:hover {
    text-decoration: none !important;
}

.command-heading {
    text-transform: uppercase;
}

footer {
    padding-top: 15px;
    height: 55px;
    width: 100%;
    flex: 0 0 auto;
    background-color: #000;
    border-top:1px solid #111;
}

footer p {
	padding: 0;
	margin: 0;
}

.form-input {
    width: 100%;
}

#footer-content {
    padding: 5px 15px 0 15px;
    width: 100%;
    height: calc(100% - 90px);
    display: block;
}

h1 {
    font-size: 16pt !important;
    border-bottom: 1px solid #111;
    padding: 30px;
    margin: 0;
    color: #d14;
    font-weight: bold;
}

h2 {
    font-size: 16pt !important;
    font-weight: bold;
}

.heading-command {
    color: #d14 !important;
    font-weight: normal;
    font-size: 16pt !important;
}

.heading-args {
    color: #cb7832 !important;
    font-weight: normal;
}

.heading-required {
    color: #a30303 !important;
    font-weight: normal;
}

.kytsch {
    color: #bababa;
    font-weight: normal;
}

.basic {
    color: #d14 !important;
    font-weight: normal;
}

h3, h4, .h3 {
    font-size: 14pt;
    font-weight: normal;
}

header {
    flex: none;
    width: 240px;
    border-right: 1px solid #111;
    background-color: #080808;
}

.kb-col {
    float: left;
    box-sizing: border-box;
}

.kb-col-12 {
    width: 50%;
}

.kb-col-24 {
    width: 100%;
    margin-bottom: 20px;
}

.kb-row {
    box-sizing: border-box;
    position: relative;
}

.kb-captcha-img {
    width: 100%;
    background-color: #fff;
}

.kb-captcha-img img {
    min-width: 60%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#main-content {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}

#main-content-col {
    padding: 15px 45px 0 45px;
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#mobile {
    background: #000;
    position: absolute;
    left: 50px;
    top: 40%;
    z-index: 1000;
    font-size: 18pt;
    padding: 30px;
    display: none;
}

nav {
    padding-top: 10px;
}

nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-link {
    float: left;
    width: 100%;
    padding: 10px 0px 10px 30px;
}

p {
    white-space: pre-line;
}

pre, .kb-code-block {
    padding: 40px;
    color: #cacaca;
    background: #060606;
    -moz-tab-size: 4;
    tab-size: 4;
	overflow-x: hidden;
    font-family: "FreeMono", Arial, Helvetica, sans-serif !important;
}
code {
    font-family: "FreeMono", Arial, Helvetica, sans-serif !important;
}

table {
	border-spacing: 0px;
    min-width: 50%;
}

.table-border td {
    border: 1px solid #fff;
}

th, td {
    text-align: left;
	border-bottom: 1px solid #000;
	padding: 10px;
}

.text-right {
	text-align: right;
}

@media only screen and (max-width: 1024px) {
    body {
        overflow-x: scroll;
    }

    pre, .kb-code-block {
        -moz-tab-size: 2;
        tab-size: 2;
    }
}
@media only screen and (max-width: 900px) {
    #mobile {
        display: block;
    }
}
