html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#sevens {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #09a314;
    padding: 5px;
}

#sevens #board, #sevens #player {
    display: flex;
    width: 100%;
    height: 50%;
}

#sevens #player {
    padding-top: 10px;
    border-top: 2px solid #000;
}

#sevens #player #hand {
    width: calc(100% - 300px);
    display: flex;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
}

#sevens #player #controls {
    gap: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#sevens #deck {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: calc(100% - 300px);
    height: 100%;
}

#sevens #deck .deck-placeholder {
    display: block;
}

#sevens #game {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    border-left: 2px solid #000;
}

#sevens #game table {
    width: 100%;
    color: #fff;
}

#sevens .card {
    display: inline-block;
    background: none;
    border: none;
    width: 120px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 0;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
}

#sevens #deck .card {
    position: absolute;
    margin-left: -120px;
}

#sevens #deck .card-lower {
    margin-top: -40px;
}

#sevens #deck .card-higher {
    margin-top: 40px;
}

#sevens .card-highlight {
    border: 4px solid #4ee5fc;
}

#sevens .card-warn {
    border: 4px solid #f43c09;
}

#sevens .placeholder {
    display: inline-block;
    background: none;
    border: none;
    width: 120px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 0;
    vertical-align: top;
}

#sevens img {
    width: 100%;
    margin: 0;
}

#sevens .text-center {
    text-align: center;
}

#sevens .text-left {
    text-align: left;
}

#sevens .player-turn {
    background-color: #4ee5fc;
}

#sevens #game-info {
    background-color: #fff;
    border: 0;
    border-top: 2px solid #000;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#sevens #game-info p {
    margin: 0;
    padding: 0;
}

#sevens button {
    height: 50px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#sevens .btn-last-card {
    background-color: #ffd400;
}

#sevens .btn-knocking {
    background-color: #f43c09;
    color: #fff;
}

#sevens .btn-new-game {
    margin-top: 40px;
    background-color: #2794e8;
    color: #fff;
}