:root {
    --black: #000400;
    --blue: #63C1D2;
    --brown: #946539;
    --dark-blue: #327EDD;
    --green: #77af05;
    --red: #e0020d;
    --white: #fff;
    --yellow: #FCDA67;

    --col-size: 128px;
}
.jq-toast-single h2 {
    text-transform: capitalize;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../imgs/squares/bk.jpg");
    background-repeat: no-repeat;
    background-position: top top;
    background-size: 100% 100%;
}
img {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#squares {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
#squares #controls {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
#squares #controls button {
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 222px;
    height: 78px;
}
#squares #controls .btn-new-game {
    background-image: url("../imgs/cards/button-new.png");
}
#squares #controls .btn-fight {
    background-image: url("../imgs/squares/button-fight.png");
}
#squares #controls .btn-fight.off {
    background-image: url("../imgs/squares/button-fight-off.png");
}
#squares #players, #squares #players-content {
    display: flex;
    clip-path: polygon(
        0px 3px, 3px 3px, 3px 0px,
        calc(100% - 3px) 0px, calc(100% - 3px) 3px,
        100% 3px, 100% calc(100% - 3px),
        calc(100% - 3px) calc(100% - 3px),
        calc(100% - 3px) 100%, 3px 100%,
        3px calc(100% - 3px), 0px calc(100% - 3px)
    );
    transition: all 0.05s linear;
    padding: 10px;
}
#squares #players {
    background-color: var(--black);
}
#squares #players-content {
    background-image: url(../imgs/squares/player-ui-bk.jpg);
    background-repeat: no-repeat;
}
#squares #players .player-ui {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#squares #players .player-ui img {
    width: 100px;
}
#squares #players .player-ui .winner {
    position: absolute;
    margin-top: 75px;
    margin-left: 100px;
    width: 54px;
    display: none;
}
#squares #players .player-ui span {
    display: block;
    margin-top: -5px;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
    width: calc(100% - 30px);
    text-align: center;
    clip-path: polygon(
        0px 3px, 3px 3px, 3px 0px,
        calc(100% - 3px) 0px, calc(100% - 3px) 3px,
        100% 3px, 100% calc(100% - 3px),
        calc(100% - 3px) calc(100% - 3px),
        calc(100% - 3px) 100%, 3px 100%,
        3px calc(100% - 3px), 0px calc(100% - 3px)
    );
    transition: all 0.05s linear;
}
#squares #players .player-ui span::first-letter {
    text-transform: uppercase;
}
#squares #players .computer span {
    background-color: var(--red);
}
#squares #players span.show-highlight {
    height: 8px;
    line-height: 8px;
    opacity: 0;
}
#squares #players .highlight span.show-highlight {
    background-color: var(--yellow);
    opacity: 1;
}

#squares #battleground {
    width: calc(var(--col-size) * 6);
    height: calc(var(--col-size) * 6);
    background-color: var(--black);
    clip-path: polygon(
        0px 3px, 3px 3px, 3px 0px,
        calc(100% - 3px) 0px, calc(100% - 3px) 3px,
        100% 3px, 100% calc(100% - 3px),
        calc(100% - 3px) calc(100% - 3px),
        calc(100% - 3px) 100%, 3px 100%,
        3px calc(100% - 3px), 0px calc(100% - 3px)
    );
    transition: all 0.05s linear;
    padding: 10px;
}
#squares #battleground #grass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/squares/grass.jpg);
    clip-path: polygon(
        0px 3px, 3px 3px, 3px 0px,
        calc(100% - 3px) 0px, calc(100% - 3px) 3px,
        100% 3px, 100% calc(100% - 3px),
        calc(100% - 3px) calc(100% - 3px),
        calc(100% - 3px) 100%, 3px 100%,
        3px calc(100% - 3px), 0px calc(100% - 3px)
    );
    transition: all 0.05s linear;
}
#squares #battleground #grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#squares #battleground #grid .row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}
#squares #battleground #grid .col {
    display: flex;
    width: calc(var(--col-size) - 8px);
    height: calc(var(--col-size) - 8px);
    cursor: pointer;
    background-image: url(../imgs/squares/battle-square.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 4px solid var(--brown);
    align-items: center;
    justify-content: center;
}
#squares #battleground #grid .col.dead {
    background-image: url(../imgs/squares/battle-square-dead.jpg);
}
#squares #battleground #grid .col img {
    width: 100%;
}
#squares #battleground #fight {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: none;
}
#squares #battleground #fight img {
    display: none;
    width: 100%;
}