html, body {
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #150728;
}

body {
    background-image: url("../imgs/triple_triad/skyline.jpg");
    background-position: top center;
    background-repeat: repeat-x;
}

.button {
    display: block;
    background-color: #89518E;
    border: 3px solid #3E135A;
    padding: 10px 10px;
    text-decoration: none;
    color: #FFE6E1;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#board {
    margin: 0 auto;
    display: flex;
}

#disclaimer {
    display: flex;
    gap: 20px;
    background-color: #fff;
    border: 3px solid #3E135A;
    margin: 80px 20px 40px 20px;
    width: calc(100% - 40px);
}

#disclaimer p {
    padding: 10px 20px;
}

#disclaimer .strong {
    font-weight: bold;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; 
}

.player-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 128px;
}
.player-ui img {
    width: 100px;
}
.player-ui span {
    display: block;
    border: 3px solid #3E135A;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.player-ui span::first-letter {
    text-transform: uppercase;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

#column-middle {
    margin: 0 40px;
}
#column-middle .hand {
    display: flex;
    flex-direction: column;
}

#computer-hand, #player-hand {
    display: flex;
    flex-direction: column;
    width: 128px;
}

.card {
    display: block;
    background-image: url("../imgs/triple_triad/cards/placeholder.jpg");
    background-size: 128px 165px;
    background-repeat: no-repeat;
    width: 128px;
    height: 165px;
    cursor: pointer;
}

.card.highlight, .label.highlight span {
    border: 3px solid #FFE6E1;
}

.card img {
    width: 128px;
}

.row.spacer .card {
    background: none;
}

.level .card {
    height: 215px;
}

.card.computer, .computer span {
    background: none;
    background-color:#3654B6 !important;
    color: #fff;
}
.card.player, .player span {
    background: none;
    background-color:#e82929 !important;
    color: #fff;
}

.align-middle {
    margin-top: calc(100% / 2);
}
.align-right {
    justify-content: end;
}